/* Bit of normalisation */

body {
	background-color: #eee;
	color: #222;
	font: 0.8125em/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

.container {
	padding: 40px 1.250em;
	margin: 0 auto;
	width: 400px;
}

/* .bubble */

.bubble, p, ul.org-ul li {
	background-image: linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
background-image: -o-linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
background-image: -moz-linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
background-image: -ms-linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.25, rgb(210,244,254)),
	color-stop(1, rgb(149,194,253))
);
	border: solid 1px rgba(0, 0, 0, 0.5);
	/* vendor rules */
	border-radius: 1.250em;
	/* vendor rules */
	box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.2);
	/* vendor rules */
	box-sizing: border-box;
	clear: both;
	float: left;
	margin-bottom: 1.250em;
	padding: 0.5em 1.875em;
	position: relative;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
	width: auto;
	max-width: 40%;
	word-wrap: break-word;
  list-style-type:none;
}

.bubble:before, .bubble:after, p:before, ul.org-ul li:before, p:after, ul.org-ul li:after {
	border-radius: 1.250em / 0.625em;
	content: '';
	display: block;
	position: absolute;
}

.bubble:before, p:before, ul.org-ul li:before {
	border: 0.625em solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	left: -7px;
	z-index: -2;
}

.bubble:after, p:after, ul.org-ul li:after {
	border: 0.5em solid transparent;
	border-bottom-color: #d2f4fe;
	bottom: 1px;
	left: -5px;
}

.bubble--alt, p, ol.org-ol li {
	background-image: linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%);
background-image: -o-linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%);
background-image: -moz-linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%);
background-image: -ms-linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.25, rgb(172,228,75)),
	color-stop(1, rgb(122,205,71))
);
	float: right;
}

.bubble--alt:before, p:before, ol.org-ol li::before {
	border-bottom-color: rgba(0, 0, 0, 0.5);
	border-radius: 1.250em / 0.625em;
	left: auto;
	right: -7px;
}

ol.org-ol li::before {
	border-bottom-color: rgba(0, 0, 0, 0.5);
	border-radius: 1.250em / 0.625em;
	left: auto;
	right: -7px;
}


.bubble--alt:after, p:after, ol.org-ol li::after {
	border-bottom-color: #ace44b;
	border-radius: 1.250em / 0.625em;
	left: auto;
	right: -5px;
} 



@media (max-width:800px) {
.bubble, p, ul.org-ul li {
padding: 0.7em; } 
}
