
div.description.text-center  {
    font-family: "Open Sans";
 
}

div.description.text-center.accidental {
    background: #000;
    opacity: 0.5;
}



div.description.text-center.accidental h2 {

    font-weight: 600;
    font-size: 420%;
    line-height: 1.2;
}

div.description.text-center.accidental h5 {
    font-family: "Open Sans";
    font-size: 25px;
}

div.description.text-center.accidental h2 strong {
    font-style: italic;
    color: orange;
}

