body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    max-width:80%;
}

.day {
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
}

.day-number {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.date {
    font-size: 16px;
    color: #888;
}

.completed {
    background-color: #8bc34a;
    color: #fff;
}

.checkmark {
    font-size: 1.5rem;
}

.missed {
    background-color: #f44336;
    color: #fff;
}

.cross {
    font-size: 1.5rem;
}

.month-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    width: 100%;
    position: relative;
    padding-right: 6rem; /* Add padding to the right side of the month row */
}

.month {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 1.5rem;
    padding-right: 1rem;
    white-space: nowrap; /* Prevent the month name from wrapping */
}

.empty-month {
    visibility: hidden;
}

footer {
    margin-top: 2rem;
    font-size: 1rem;
    color: #666;
}
