body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    max-width: 1200px;
    flex-wrap: wrap;
    width: 100%;
}

.month-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
    padding-right: 10rem; /* Increase the padding to create more space */
}

.day {
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    aspect-ratio: 1 / 1; /* Set the aspect ratio to 1:1 for square cells */
    flex: 1 0 12%;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #ddd; /* Optional: add a border to separate the cells */
}

.day-number {
    font-size: clamp(1rem, 5vw, 2rem); /* Responsive font size */
    font-weight: bold;
    margin-bottom: 5px;
}

.date {
    font-size: clamp(0.8rem, 3vw, 1.2rem); /* Responsive font size */
    color: #888;
}

.completed {
    background-color: #8bc34a;
    color: #fff;
}

.checkmark {
    font-size: 1.5rem;
}

.missed {
    background-color: #f44336;
    color: #fff;
}

.cross {
    font-size: 1.5rem;
}

.month {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 1.5rem;
    padding-right: 1rem;
    white-space: nowrap; /* Prevent the month name from wrapping */
    text-align: left;
    margin-left: 50px;
    align-self: center;
    font-size: 300%;
    text-transform: uppercase;
}

.empty-month {
    visibility: hidden;
    flex: 0 0 12%;
}

footer {
    margin-top: 2rem;
    font-size: 1rem;
    color: #666;
}

.month.invisible {
    color: #f0f0f0; /* Same as background color to make it invisible */
}
