
@font-face {
    font-family: 'Garamond Premier Pro';
    src: url('http://dixit.ca/fonts/garamondpremrpro-webfont.eot');
    src: url('http://dixit.ca/fonts/garamondpremrpro-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://dixit.ca/fonts/garamondpremrpro-webfont.woff') format('woff'),
         url('http://dixit.ca/fonts/garamondpremrpro-webfont.ttf') format('truetype'),
         url('http://dixit.ca/fonts/garamondpremrpro-webfont.svg#garamond_premr_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



p
{
font-size:large; 
}

html,body
{
    font-family: "Garamond Premier Pro","Hoefler Text", Garamond, Georgia, "Times New Roman", Times, serif;
    margin: 1em ;
    padding:0;
color:#333;
width:70%;
margin-left:auto;
margin-right:auto;
}

caption,col,colgroup
{
	background-color:#F9F9F9;
	border:1px solid #CCC;
	border-spacing:0;
	font:11px/1.4em Arial, sans-serif;
	padding:3px;
}


figure
{
	display:inline-block;
	margin-bottom:1.2em;
	position:relative;
	width:100%;
}

figcaption
{
	-webkit-transition:all .2s ease-in-out;
	background:rgba(0,0,0,0);
	bottom:0;
	color:rgba(255,255,255,0);
	left:0;
	position:absolute;
	text-align:center;
	width:100%;
}

figure:hover
{
	cursor:pointer;
}

figcaption:hover
{
	background:rgba(0,0,0,.56);
	color:rgba(255,255,255,1);
}

dt
{
	font-weight:700;
}


strong
{

    font-weight:bold;
    font-style:normal;
    color:#00ADEF;
    color: #fb8026;
    color:#000;
    text-rendering:optimizeLegibility;
text-shadow:none !important;
}





pre
{
    margin-bottom:30px!important;
}



h1
{
    font-family:'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-weight:700;
    border-bottom:2px dotted #CCCCCC;
    line-height:1.5em;
    -webkit-transition:all .5s linear;
    line-height:1.1em;
    text-align:left;
    margin-bottom:1em;
    font-size:larger; 
}

h2,h3,h4,h5
{
    font-family:'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-weight:700;
    color:#55555;
    line-height:1.1em;
margin-bottom:1em;
}




h2
{
    color:#C92228;
    font-family:'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    -webkit-transition:all .5s linear;
    border-bottom:2px dotted #CCC;

}

h3
{
    color:#00ADEF;
    color:#000;
    -webkit-transition:all 0.2s linear;

}


h4
{
    color:#DD3E74;

}

h5
{
    color:#000;
    -webkit-transition:all 0.2s linear;

}

h6
{
    color:#000;
    font-style:normal;
    font-weight:700;
    font-size:100%;
    margin-bottom:0;
    margin-top:0;
}

.title:first-letter, h1:first-letter,h2:first-letter,h3:first-letter,h4:first-letter,h5:first-letter,h6:first-letter
{
    text-transform:capitalize;
}



body,p,td,div,h6
{

    word-wrap:break-word;
    text-rendering:optimizeLegibility;
}

li,ul li,ol li
{
word-wrap:break-word;
    text-rendering:optimizeLegibility;
margin-left:1em;
}

a
{
    -webkit-transition:color .5s linear;
    text-decoration:none;
    color:#05ADF3;
}

a:hover
{
    color:red;
}

h2 em
{
    color:#111;
    padding-left:10px;
}


pre, blockquote {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: normal !important;       /* Internet Explorer 5.5+ */
    text-align: left;
    background: rgba(255, 0, 0, 0.05);
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid rgba(255, 0, 0, 0.2);
    font-family: Monaco, Helvetica, sans-serif;
    color: #3f3f3f;
    line-height:1.2;
width:500px;
    padding:1em;
    font-size:70%;
}

pre p, blockquote p 
{
    font-family: Monaco, Helvetica, sans-serif;
    font-size:70%;
    -webkit-margin-before: 0 !important;
    -webkit-margin-after: 0 !important;
}

pre strong, blockquote strong
{
    color: #c61800;
    font-style:normal;
}

pre em, blockquote em 
{
    color: #18a600;
    font-style:normal;
}


img, .figure img
{width:100%;
 text-align:left;
 display:block;
}




h1:first-letter, h2:first-letter, h3:first-letter, h4:first-letter, h5:first-letter
{
    text-transform:capitalize;
}


.footdef p
{display:inline;}

ul.org-ul {
    margin-left: inherit;
    padding-left: inherit;
}

ul.org-ul li {
    margin-bottom: 0.3em;
}


h1.title
{
  display:inline;
  display:none;
} 



@media print {
    body {
        overflow: auto;
        background:#fff;
        color: #000;
    }

    body p
    {
        ;; 	font-size:small;
    }
    img, pre, blockquote, table, figure {
        page-break-inside: avoid
    }
    .footnotes { page-break-before: always }

    #wrapper {
        position: relative;
        color: #000;
        text-indent: 0px;
        padding: 1in;
        font-size:85%;
    }

html, body, h1, h2, h3, h4, h1.title, p
                                          {

 font-family: "Garamond Premier Pro","Adobe Garamond Pro", Georgia, serif !important;
}

blockquote, .example

{
background-image:none !important;
background: #FFF !important;
color:#000 !important;}


span.figure-number {
    display: none;
}

div.figure {
    margin: 1em auto 0 auto;
}



div.figure p {
    margin: -1em auto 0 auto;
    font-style: italic;
    font-size: 70%;
}


pre.example {
    margin-left: 1em;
}

p.verse {
    color: #111;
    font: 14px Baskerville, "Palatino Linotype", "Times New Roman", Times, serif;
    margin: auto;
    padding: 20px 0;
    text-align: left;
    width: 390px;
    line-height: 1.5;
    margin-bottom: 15px;
}



table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}
tabletbody tr:nth-child(odd) {
    background-color: #fff;
}
tabletbody tr:nth-child(even) {
    background-color: #EEF7EE;
}
table-horizontal tbody td {
    border-left: none;
    border-right: none;
}


table {
    margin-top: 1em;
}



dl.org-dl dt {
    color: #BE38F3;
}


li.on {
    list-style-type: none;
    text-indent: -1em;
}

li.off {
    list-style-type: none;
    text-indent: -1em;
}

p{
margin-bottom:1.2em !important;
}

blockquote {
    border-left: 4px solid #DDD;
    padding: 0 1em;
    color: #777;
    quotes: none;
    border-radius: 15px;
    font-weight: 400;
    color: #f0e68c;
    /* yellow */
    
    color: #cd5c5c;
    /* magenta */
    
    color: #87ceeb;
    /* faded denim */
    
    font-family: 'courier new', monospace;
    font-family: Courier, "Courier New", Courier, "Liberation Mono", monospace;
    line-height: 1.3em;
    background: none repeat scroll 0% 0% rgb(61, 61, 61);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
}
blockquote p {
    border-radius: 15px;
    padding: 20px;
    font-weight: 400; 
    font-family: 'courier new', monospace;
    font-family: Courier, "Courier New", Courier, "Liberation Mono", monospace;
    line-height: 1.3em;
    font-weight: 400 !important;
}

blockquote em {
    color: #f0e68c;
}
blockquote strong {
    display: inline;
    color: #cd5c5c;
    /* magenta */
}

div.figure p img {
    width: 100% !important;
}

p img {
    margin-bottom: 1em;
}



#orgheadline1 {
  width: 100% !important;
  text-align: center !important;
  margin-left:auto !important;
  margin-right:auto !important;
}

img {
  margin-bottom: 1em;
}

