

.content {
    padding-top: 1em;
    padding-bottom: 2em;
}


.content p,.content h2, .content ul.org-ul {
margin: 1em ;
    padding: 0;
    color: #333;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.content p, .content ul.org-ul {
    font-family: "Garamond Premier Pro", Garamond, Georgia, "Times New Roman", Times, serif;
}

ul.org-ul li {
    margin-left: 2em;
margin-bottom: 0.5em; 
}


h1, h2, h3 {
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-weight: 700;
}


@font-face
{
    font-family:ChunkFive;
    src:url('../fonts/Chunkfive-webfont.eot?#iefix') format(eot), url('../fonts/Chunkfive-webfont.woff') format(woff), url('../fonts/Chunkfive-webfont.ttf') format(truetype), url('../fonts/Chunkfive-webfont.svg#webfont90E2uSjN') format(svg);
    font-weight:normal;
    font-style:normal;
}


@font-face {
    font-family: 'Garamond Premier Pro';
    src: url('../fonts/garamondpremrpro-webfont.eot');
    src: url('../fonts/garamondpremrpro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/garamondpremrpro-webfont.woff') format('woff'),
         url('../fonts/garamondpremrpro-webfont.ttf') format('truetype'),
         url('../fonts/garamondpremrpro-webfont.svg#garamond_premr_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


div.accidental {
    background: #000;
    opacity: 0.5;
    width:50%;
    margin-left:auto;
    margin-right:auto;
margin-top:8em;
padding:1em;
}

div.wrapper-parallax header h2 {
padding: 0;
  margin: 0;
font-weight: 600;
    font-size: 420%;
    line-height: 1.2;
width: 100%;
text-align: center;
  font-family: Helvetica;
  font-size: 50px;
  color: #fff;
}

div.wrapper-parallax header h2 strong
{font-style: italic;
    color: orange;
}


div.outline-text-2 p img {
    float: left;
    margin-right: 2em;
}

