/* Org-HTML-Slideshow common styles.
 *
 * These styles will apply to all views.
 */

body {
    font-family: "GillSans-Light", Helvetica, Arial, sans-serif;

  background: url(/Users/jay/Downloads/bg_gradient-noRepeat.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}

span.tag {
    display: none;
}

pre {
    font-family: Monaco, "Courier New", monospace;
}

#c-panel {
    background: lightgray;
    bottom: 0px;
    border: 1px solid black;
    font-size: 12pt;
    position: fixed;
    right: 0px;
}

#c-panel a {
    display: block;
}

#c-panel .key {
    display: none;
}

#c-panel .key {
    display: none;
}

div.initial_prompt {
    position: absolute;
    z-index: 1000;
    bottom: 1.2em;
    width: 100%;
    background-color: rgb(200,200,200);
    opacity: 0.35;
    background-color: rgb(200,200,200, 0.35);
    cursor: pointer;
    color:orange;
    font-size:60px;
    background-color:#000;
    line-height:1;
    opacity:0.8;
}

h1.begin
{
    font-family:'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-weight:700;
    border-bottom:2px dotted #CCCCCC;
    line-height:1.5em;
    font-size:130px;
    text-shadow:none;
    -webkit-transition:all .5s linear;
    line-height:1.1em;
    text-shadow:0 0 2px rgba(0,0,0,0.2), 0 0 4px rgba(0,0,0,0.2), 0 0 6px rgba(0,0,0,0.2);
    -webkit-transition:all 0.2s linear;
    text-align:left;
    color:orange;
}