
/*Jay's customizations */

body {
    font-family: "GillSans-Light", Helvetica, Arial, sans-serif !important;

  background: url(/Users/jay/Downloads/bg_gradient-noRepeat.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}


h1,h2,h3,h4,h5,h6,h7,h8 {
	font-family: "ChunkFive",'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !important;
	line-height:1 !important;
font-weight:normal !important;
padding-top:10px;
color: #535353;
text-shadow:0 0 1px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,0.2);
 -webkit-transition:all 0.2s linear;
}

h1 strong,h2 strong,h3 strong,h4 strong,h5 strong,h6 strong,h7 strong, h8 strong {
	font-family: "ChunkFive",'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !important;
	line-height:1 !important;
font-weight:normal !important;
color: #BE38F3;
text-shadow: #BE38F3 0 0 1px;

}



.darkbloom.full img, .darkbloom.full img p {
  /* Set rules to fill background */
  min-height: 100% !important;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100% !important;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

z-index:-150;
opacity:0.5;

}

.slide.full img, .slide.full img p {
  /* Set rules to fill background */
  min-height: 100% !important;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100% !important;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

z-index:-150;
}


.full h1, .full h2, .full h3, .full h4, .full h5, .full h6, .full h7, .full h8
{
color: #535353;
text-shadow: 0 0 150px #FFF, 0 0 60px #FFF, 0 0 10px #FFF; 
font-size:100px;
}
 
.full,.darkbloom
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: -151;
}

.full body, .darkbloom.full body
{
color:#535353;
color:#FFF;
    text-shadow: 0 0 150px #FFF, 0 0 60px #FFF, 0 0 10px #FFF; 
}


.full p, .full li, .darkbloom.full p, .darkbloom.full li
{
color:#535353;
color:#FFF;
    text-shadow: 0 0 150px #FFF, 0 0 60px #FFF, 0 0 10px #FFF; 
}

.titlecard h1, .titlecard h2, .titlecard h3, .titlecard h4, .titlecard h5, .titlecard h6, .titlecard h7, .titlecard h8
{
font-size:190px;}

em
{
font-weight:700;
font-style:normal;
}


strong
{
font-weight:700;
color: #BE38F3;
}


.grey
{
color: #535353;
text-shadow:0 0 1px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,0.2);
 -webkit-transition:all 0.2s linear;
}

.red
{
color: #BE38F3;
text-shadow: #BE38F3 0 0 1px;
}

.black h1
{
color: #BE38F3;
text-shadow: #BE38F3 0 0 1px;
}


.notes
{color:#000;}

p, ul.org-ul li, ul.org-ol li {
    font-family: "GillSans-Light", Helvetica, Arial, sans-serif ;
}


.logo:before
{
content: url("/Users/jay/Dropbox/writing/writing-teacher/presentations/WeWork/img/signal-flare-logo_150.png");

   position:absolute;
   left:0px;
top:0px; 
}



pre, blockquote {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: normal !important;       /* Internet Explorer 5.5+ */
    text-align: left;
    background: rgba(255, 0, 0, 0.05);
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid rgba(255, 0, 0, 0.2);
    font-family: Monaco, Helvetica, sans-serif;
    color: #3f3f3f;
    line-height:1.2;
width:700px;
    padding:0 1em 1em 1em;
    font-size:70%;
    margin-left:auto;
    margin-right:auto; 
}

pre p, blockquote p 
{
    font-family: Monaco, Helvetica, sans-serif;
    font-size:70%;
    -webkit-margin-before: 0 !important;
    -webkit-margin-after: 0 !important;
margin-top:-1em;
margin-bottom:-1em; 
padding-top:-1em; 
padding-bottom:-1em; 

}

pre strong, blockquote strong
{
    color: #c61800;
    font-style:normal;
}

pre em, blockquote em 
{
    color: #18a600;
    font-style:normal;
}


