
/*Jay's customizations */

 

h1,h2,h3,h4,h5,h6,h7,h8 {
	font-family: "ChunkFive",'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !important;
	line-height:1 !important;
font-weight:normal !important;
padding-top:10px;
color: #535353;
text-shadow:0 0 1px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,0.2);
 -webkit-transition:all 0.2s linear;
}

h1 strong,h2 strong,h3 strong,h4 strong,h5 strong,h6 strong,h7 strong, h8 strong {
	font-family: "ChunkFive",'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !important;
	line-height:1 !important;
font-weight:normal !important;
color: #BE38F3;
text-shadow: #BE38F3 0 0 1px;

}




.darkbloom.full img, .darkbloom.full img p {
  /* Set rules to fill background */
  min-height: 100% !important;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100% !important;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

z-index:-150;
opacity:0.5;

}

.slide.full img, .slide.full img p {
  /* Set rules to fill background */
  min-height: 100% !important;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100% !important;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

z-index:-150;
}


.full h1, .full h2, .full h3, .full h4, .full h5, .full h6, .full h7, .full h8
{
color: #535353;
text-shadow: 0 0 150px #FFF, 0 0 60px #FFF, 0 0 10px #FFF; 
font-size:100px;
}
 
.full,.darkbloom
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: -151;
}

.full body, .darkbloom.full body
{
color:#535353;
color:#FFF;
    text-shadow: 0 0 150px #FFF, 0 0 60px #FFF, 0 0 10px #FFF; 
}


.full p, .full li, .darkbloom.full p, .darkbloom.full li
{
color:#535353;
color:#FFF;
    text-shadow: 0 0 150px #FFF, 0 0 60px #FFF, 0 0 10px #FFF; 
}

.titlecard h1, .titlecard h2, .titlecard h3, .titlecard h4, .titlecard h5, .titlecard h6, .titlecard h7, .titlecard h8
{
font-size:190px;}

em
{ 
font-style:italic !important;
}


strong
{
font-weight:700;
color: #BE38F3;
}


.grey
{
color: #535353;
text-shadow:0 0 1px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,0.2);
 -webkit-transition:all 0.2s linear;
}

.red
{
color: #BE38F3;
text-shadow: #BE38F3 0 0 1px;
}

.black h1
{
color: #BE38F3;
text-shadow: #BE38F3 0 0 1px;
}


.notes
{color:#fff;}

img,video,audio,iframe {
  display: block;
  margin: 0 auto;
}

p.logo
{
font-family:"IM Fell Great Primer PRO" !important;
font-variant:small-caps;
}


div.outline-text-3.outline-text p em {
  font-family: "IM Fell Great Primer PRO" ;
  font-variant: small-caps;
  font-size:40px;
text-shadow: 0 0 2px rgba(0,0,0,0.2), 0 0 4px rgba(0,0,0,0.2), 0 0 6px rgba(0,0,0,0.2); 
text-shadow: 0 0 1px rgba(0,0,0,0.2), 0 0 2px rgba(0,0,0,0.2), 0 0 3px rgba(0,0,0,0.2); 

}



h2,h3,h4 {
  margin-left: 3em;
  margin-right: 3em;
}

h2 strong,h3 strong, h4 strong {
  color: #C92228;
}


table
{
	border:1px solid rgba(0,0,0,0.25);
	border-collapse:collapse;
	display:table;
	empty-cells:hide;
padding:1em !important;
	table-layout:fixed;
  font-family:"Helvetica Neue";
  font-weight:25 !important;
}

caption
{
	display:table-caption;
	font-weight:700;
}

col
{
	display:table-column;
}

colgroup
{
	display:table-column-group;
}

tbody
{
	display:table-row-group;
}

tfoot
{
	display:table-footer-group;
}

thead
{
	display:table-header-group;
}

td,th
{
	display:table-cell;
}

tr
{
	display:table-row;
}

table th,table td
{
	padding:0 1em;
}

table thead
{
	background:rgba(0,0,0,0.15);
	border:1px solid rgba(0,0,0,0.15);
	border-bottom:1px solid rgba(0,0,0,0.2);
}

table tbody
{
	background:rgba(0,0,0,0.05);
}

table tfoot
{
	background-color:#b0c4de;
	border:1px solid rgba(0,0,0,0.15);
	border-top:1px solid rgba(0,0,0,0.2);
}

blockquote p {
  font-family: GillSans-Light, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !important;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  line-height:1.6;
  font-size:120%;
}


p, ol.org-ol li {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}




span.figure-number {
  display: none;
} 

img
{
    max-width:100%;
}


h1:first-letter, h2:first-letter, h3:first-letter, h4:first-letter {
 text-transform: capitalize;
}

.darkbloom span.todo.Practice_ {
  color: yellow;
}

.small span.todo.Critique_, span.todo.Demo_,span.todo.Workshop_ {
    color: red;
    text-shadow: none;
}



.darkbloom h1, .darkbloom h2, .darkbloom h3, .darkbloom h4, .darkbloom h5, .darkbloom h6, .darkbloom h7, .darkbloom h8
{color:#FFF;
text-shadow: #fff 0 0 1px;

}

.small ul li {
  font-size: 18px;
}


.small h1, .small h2, .small h3
{
 font-size: 100%;
}



ul.org-ul  {
  margin-left: 0em !important;
}





.small ul { margin-left: 0; }

.small ul ul { margin-left: 0; }

.small ul ul ul { margin-left: 0; }

.small ul ul ul ul { margin-left: 0; }

.small ul ul ul ul ul{ margin-left: 0; }

.small ul ul ul ul ul ul { margin-left: 0; }

.small ul ul ul ul ul ul ul { margin-left: 0; }

.small ul ul ul ul ul ul ul ul { margin-left: 0; }

.small ul ul ul ul ul ul ul ul ul { margin-left: 0; }

.small ul ul ul ul ul ul ul ul ul ul { margin-left: 0; }

.small ul ul ul ul ul ul ul ul ul ul ul { margin-left: 0; }

.small ul ul ul ul ul ul ul ul ul ul ul ul { margin-left: 0; }

.small ul ul ul ul ul ul ul ul ul ul ul ul ul { margin-left: 0; }



.darkbloom p, .darkbloom ul.org-ul li {
  color: #fff;
}


figure img {
  max-width: 50%;
}

.full figure img {
 max-width: 100%;
}



ol.org-ol ul.org-ul li {
 margin-left: 0em;
}

ul.org-ul {
 margin-left: 5em;
}
