* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { width: 33%; margin:auto;background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: inline; color: #fff; text-decoration: none; -webkit-transition: .6s background; transition: .6s background; border-bottom: none; }

.vid-info a:hover {
color: #FFF;
    text-shadow: 0 0 150px #FFF, 0 0 60px #FFF, 0 0 10px #FFF; 
}
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 140%; top: -10%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 140%; }
}

@media all and (max-width: 600px) {
.vid-info { width: 90%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

@media (max-width: 850px) {
    iframe {display:none;}
div.video-background {
    background-image: url("best-ghost-stories-bizarre-stories.jpg") ;

   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
}


}


label.add-to-calendar-checkbox:hover {
    color: #FFF;
    text-shadow: 0 0 150px #FFF, 0 0 60px #FFF, 0 0 10px #FFF;
}

