
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child, div.outline-2:last-child {
  margin-bottom: 0;
}
section.module h2, div.outline-2 h2 {
  margin-bottom: 40px;
    font-family: "Garamond Premier Pro", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 30px;
}
section.module p, div.outline-2 p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child, div.outline-2 p:last-child {
  margin-bottom: 0;
}
section.module.content, div.outline-2.content {
  padding: 40px 0;
}
section.module.parallax, div.outline-2.parallax {
    min-height: 8em;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

section.module.parallax h1, div.outline-2.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;

  font-weight: 700;
  text-align: center;
  font-weight: normal;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


div.outline-2 {
 max-width: 80%;
 margin:2em auto 2em auto;
}


@media all and (min-width: 600px) {
  section.module h2, div.outline-2  h2 {
    font-size: 42px;
  }
  section.module p, div.outline-2  p {
    font-size: 20px;
  }
  section.module.parallax h1, div.outline-2 .parallax h1 {
    font-size: 96px;
  }


}


@media all and (min-width: 960px) {
  section.module.parallax h1, div.outline-2 .parallax h1 {
    font-size: 160px;
  }

div.outline-2 {
 max-width: 50%;
 margin:2em auto 2em auto;
}
}



@media all and (max-width: 750px) {
    /* Preserve content visibility and improve readability on phones */
    .container {
      display: block;
      padding: 2em 1.5em;
    }

    section.module.parallax, div.outline-2.parallax {
      min-height: 60vh;
      background-attachment: scroll;
    }

    section.module.parallax h1, div.outline-2.parallax h1 {
      display: block;
      font-size: 48px;
    }
}


  @media all and (min-width: 750px) {
/* CSS rules here target only screens above 750px */
section.module.parallax, div.outline-2.parallax {
  height: 1600px;
}

  }




  div.outline-text-2 p {
    margin-bottom: 1em;
}


  h1.bottom {
 position: absolute;
bottom: 0px;
color:#ccc;
  width:100%;
}
