body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
}
h1 {
    color: #333;
    font-size: 2em;
}
.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    max-width: 90%;
    margin: 0 auto;
}
.day {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-size: 1.2em;
    min-height: 100px;
}
.completed {
    background-color: #8bc34a;
    color: #fff;
}
.missed {
    background-color: #ff8c8c;
    color: #fff;
}
.todo {
    background-color: #fff;
    color: #333;
}
.checkmark, .empty-square, .cross {
    font-size: 1.5em;
}
.month-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.month {
    grid-column: span 7;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 10px;
    text-align: right;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}
